<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="RP2040-Module v5 URDF">
  <link
    name="base_link_PCB">
    <inertial>
      <origin
        xyz="-4.8522E-05 1.4931E-05 -0.00064486"
        rpy="0 0 0" />
      <mass
        value="0.00030609" />
      <inertia
        ixx="1.0203E-08"
        ixy="9.3113E-14"
        ixz="4.5634E-27"
        iyy="3.2615E-09"
        iyz="-3.8633E-26"
        izz="1.3378E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/maxrec/projects/ros2-industrial-robot-simulation/src/IFRA_ConveyorBelt/conveyorbelt_gazebo/meshes/pcb/base_link_PCB.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/maxrec/projects/ros2-industrial-robot-simulation/src/IFRA_ConveyorBelt/conveyorbelt_gazebo/meshes/pcb/base_link_PCB.STL" />
      </geometry>
    </collision>
  </link>
</robot>